{% extends "website/base.html" %}

{% block content %}

    <header class="background-primary header-container">
        <div class="container">
            <h1 class="titles">Dia Mobile</h1>
        </div>
    </header>
    <header class="background-primary fake-header"></header>

    <section class="content-container">
        <div class="container">
            <h1 class="titles">Body a tope</h1>
            <p class="texts">Esto es un test de texto así tal cual.</p>
        </div>
    </section>

    <footer class="background-dark">
        <div class="container">
            <div class="row">
                <div class="col footer-col-container">
                    <p class="titles">Titulo 1</p>
                    <p class="texts">Esto es un texto chulo</p>
                </div><div class="col footer-col-container">
                    <p class="titles">Titulo 2</p>
                    <p class="texts">Esto es un texto chulo</p>
                </div><div class="col footer-col-container">
                    <p class="titles">Titulo 3</p>
                    <p class="texts">Esto es un texto chulo</p>
                </div><div class="col footer-col-container">
                    <p class="titles">Titulo 4</p>
                    <p class="texts">Esto es un texto chulo</p>
                </div>
            </div>

            <div class="row">
                <div class="col footer-of-footer">
                    <p class="texts">Dia Mobile, 2018</p>
                </div>
            </div>
        </div>

    </footer>

{% endblock %}
