{% extends "website/base/base.html" %}
{% load static %}

{% block content %}

    <header class="background-primary header-container">
        <div class="container">
            <div>
                <a href="/"><img class="logo" src="{% static "/website/img/logo.png" %}"/></a>
            </div>

            <div class="menu-container">
                <ul>
                    <li class="{% if request.resolver_match.url_name == "diet_and_exercise" %}active{% endif %}"><a class="texts" href="/diet-and-exercise/">Dieta & Ejercicio</a></li>
                    <li class="{% if request.resolver_match.url_name == "diabetes" %}active{% endif %}"><a class="texts" href="/diabetes/">Diabetes</a></li>
                    <li class="{% if request.resolver_match.url_name == "plans" %}active{% endif %}"><a class="texts" href="/plans/">Planes</a></li>
                </ul>
            </div>

        </div>
    </header>
    <!--
    <header class="background-primary fake-header"></header>
    -->

    <section class="content-container">
        <div class="container">

            {% block page_content %}{% endblock %}

        </div>
    </section>

    <footer class="background-dark">
        <div class="container">
            <div class="row">
                <div class="col footer-col-container">
                    <p class="titles"><span><i class="material-icons">visibility</i></span> Nosotros</p>
                    <p class="texts">¿Quiénes somos?</p>
                    <p class="texts">Blog</p>
                </div>
                <div class="col footer-col-container">
                    <p class="titles"><span><i class="material-icons">school</i></span> Legal</p>
                    <a href="/terms-and-conditions/" class="texts">Términos y condiciones</a>
                    <a href="/cookies/" class="texts">Cookies</a>
                    <p href="/faq/" class="texts">Privacidad</p>
                </div>
                <div class="col footer-col-container">
                    <p class="titles"><span><i class="material-icons">help_outline</i></span> Ayuda</p>
                    <a href="/faq/" class="texts">Preguntas frecuentes</a>
                    <p class="texts">Contacto</p>
                </div>
                <div class="col footer-col-container">
                    <p class="titles"><span><i class="material-icons">smartphone</i></span> Aplicaciones móviles</p>
                    <p class="texts">Android</p>
                    <p class="texts">iPhone</p>
                </div>
            </div>

            <div class="row">
                <div class="col footer-of-footer">
                    <p class="texts">Dia Mobile, 2018</p>
                </div>
            </div>
        </div>

    </footer>

{% endblock %}
